# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# VS Code
.vscode/
.idea/

# Mac OS
.DS_Store

# Others
*.iml
*.lock
*.sh
*.log
*.tmp

.comments.txt
